<main>
    <div class="container panel">
        <div class="card-header panel-title">
            Booking Summary
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img src="{{drugi.vehicle_picture}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Booking information</h5>
                        <p class="card-text">{{drugi.description}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Pick-up date: {{drugi.date.[0]}}</li>
                        <li class="list-group-item">Location: {{drugi.pickup_locations}}</li>
                        <li class="list-group-item">Return date: {{drugi.date.[1]}}</li>
                        <li class="list-group-item">Daily price: {{drugi.daily-price}}</li>
                    </ul>
                    <div class="card-body">
                            <a href="/vehicles/{{_id}}" class="card-link text-primary" id="return-link">
                            <i class="fas fa-caret-left"></i>
                            Return</a>
                        <!-- <a href="/users/confirm" class="card-link text-success float-right" id="confirm-link">
                            <i class="fas fa-caret-right"></i>
                            Confirm</a> -->
                        <form method="POST" action="/users/confirm" id="date-form" onsubmit="appendToForm()">
                            <input type="hidden" name="vehicle_id" id="vehicle_id" value="{{drugi._id}}">
                            <input type="hidden" name="owner_id" id="owner_id" value="{{drugi.owner_id}}">
                            <input type="hidden" name="my_id" id="my_id" value="{{prvi._id}}">
                            <input type="hidden" name="date_from" id="date_from" value="{{drugi.date.[0]}}">
                            <input type="hidden" name="date_to" id="date_to" value="{{drugi.date.[1]}}">
                            <input id="submit-button" type="submit" class="card-link text-success float-right" value="Confirm">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="/uploads/{{drugi.profile_picture}}" class="card-img-top" alt="Marina">
                    <div class="card-body">
                        <h5 class="card-title">Owner: {{drugi.username}}</h5>
                        <p class="card-text">This is the contact information of the vehicle owner. For further information please consult the owner!</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        {{#if firstname}}
                        <li class="list-group-item">Full name:{{drugi.firstname}} {{drugi.lastname}}</li>
                        {{/if}}
                        <li class="list-group-item">e-mail: {{drugi.email}}</li>
                        <li class="list-group-item">Number: {{drugi.phone}}</li>
                        {{#if location}}
                        <li class="list-group-item">Location: {{drugi.location}}</li>
                        {{/if}}
                    </ul>
                    <div class="card-body">
                        <a href="/users/profiles/{{drugi.owner_id}}" class="card-link stretched-link text-primary">
                            <i class="fas fa-caret-up"></i>
                            Check profile</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img src="{{prvi.profile_picture}}" class="card-img-top" alt="Vuk">
                    <div class="card-body">
                        <h5 class="card-title">My Profile:{{prvi.username}}</h5>
                        <p class="card-text">This is your contact information. Please, check it!</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        {{#if firstname}}
                            <li class="list-group-item">Full name:{{prvi.firstname}} {{prvi.lastname}}</li>
                        {{/if}}
                        <li class="list-group-item">e-mail: {{prvi.email}}</li>
                        <li class="list-group-item">Number: {{prvi.phone}}</li>
                        {{#if location}}
                            <li class="list-group-item">Location: {{prvi.location}}</li>
                        {{/if}}
                    </ul>
                    <div class="card-body">
                        <a href="/users/edit" class="card-link stretched-link text-primary">
                            <i class="fas fa-caret-up"></i>
                            Edit profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>