<main>
  <section class="container">
    <div id="edit_uporabnik" class="col-12">
      <button type="button" onclick="save_button_clicked()" class="btn btn-primary shrani_podatke_gumb"
        onclick="location.href='/users/my'">Save</button>
      <h2>Edit your profile</h2>
      <form method="post" action="/users/my/edit">
        <div class="form-group">
          <div style="min-height:45px">
            <label>Profile picture:</label>
          </div>
          <img name="profile_picture" class="rounded-circle slika_uporabnika" src="{{profile_picture}}" alt="Slika profila">
          <label for="file-upload" class="btn btn-warning shrani_sliko_uporabnika">Choose image</label>
          <input style="display:none" id="file-upload" type="file" />
        </div>
        <div class="form-group">
          <label>Firstname:</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="firstname" aria-label="firstname" name="firstname" value="{{firstname}}">
          </div>
        </div>
        <div class="form-group">
          <label>Lastname:</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
            </div>
            <input type="text" class="form-control" id="priimek_uporabnika" placeholder="lastname" name="lastname" aria-label="lastname"
              value="{{lastname}}">
          </div>
        </div>
        <div class="form-group">
          <label>Mail:</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></span>
            </div>
            <input type="text" class="form-control" id="mail_uporabnika" placeholder="your_mail@karkoli.net" name="mail"
              aria-label="email" value="{{mail}}">
          </div>
        </div>
        <div class="form-group">
          <label>Phone number:</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-phone" aria-hidden="true"></i></span>
            </div>
            <input type="text" class="form-control" id="telefon_uporabnika" placeholder="+386123123123" name="phone_number"
              value="{{phone_number}}">
          </div>
        </div>
        <div class="form-group">
          <label>Location:</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
            </div>
            <input type="text" class="form-control" id="kraj_uporabnika"
              placeholder="Prosim vpišite kraj izposoje vaših vozil" aria-label="location" name="location" value="{{location}}">
          </div>
        </div>

        <button type="submit" id="submit_form_button" class="hidden"></button>
      </form>

    </div>
  </section>
</main>